<theme>
  <formatVersion>4</formatVersion>
  <resolution>1280 720</resolution>
  <include>./variables.xml</include>
  <include>./theme.xml</include>

  <view name="system,basic,detailed,video,grid">
    <image name="logo">
      <path>./${system.name}/logo.png</path>
    </image>
  </view>

  <view name="system,basic,detailed">
    <image name="background-wallpaper" extra="true">
			<tile>false</tile>
			<pos>0.5 0.5</pos>
			<origin>0.5 0.5</origin>
			<maxSize>1 1</maxSize>
			<path>./${system.name}/wallpaper.png</path>
      <!-- <color>FFFFFF</color> -->
      <color>FFFFFF${alpha75}</color>
		</image>
  </view>

  <view name="system">
    <image name="background-console" extra="true">
			<tile>false</tile>
			<pos>0.5 0.5</pos>
			<origin>0.5 0.5</origin>
			<maxSize>0.3 0.3</maxSize>
			<path>./${system.name}/console.png</path>
      <zIndex>12</zIndex>
		</image>
  </view>
</theme>