<theme>
  <formatVersion>4</formatVersion>
  <resolution>1280 720</resolution>
  <include>./variables.xml</include>
  <include>./theme.xml</include>

  <view name="system">
    <image name="logo">
      <path>./${system.name}/logo.png</path>
    </image>

    <image name="background-wallpaper" extra="true">
			<tile>false</tile>
			<pos>0 0</pos>
			<origin>0 0</origin>
			<maxSize>1 1</maxSize>
			<path>./${system.name}/wallpaper.png</path>
      <color>FFFFFF${transparency25}</color>
		</image>

    <image name="background-logo" extra="true">
			<tile>false</tile>
			<pos>0.5 0.2</pos>
			<origin>0.5 0.5</origin>
			<maxSize>0.5 0.5</maxSize>
			<path>./${system.name}/logo.png</path>
		</image>

    <image name="background-console" extra="true">
			<tile>false</tile>
			<pos>0.5 0.5</pos>
			<origin>0.5 0.5</origin>
			<maxSize>0.25 0.25</maxSize>
			<path>./${system.name}/console.png</path>
		</image>
  </view>
</theme>